form {
    display: flex;
    flex-direction: column;

    .form-title {
        font-size: 20px;
        margin-bottom: 24px;
    }

    .time-signature-container {
        display: flex;
        flex-direction: column;
        margin-top: 12px;

        .time-signature-title {
            font-size: 13px;
        }

        .time-signature-input {
            width: 60px;
            text-align: center;
        }

        .slash {
            margin: 0 8px;
            font-size: 40px;
        }
    }
}