@import 'src/styles/variables';

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    padding-left: 12px;
}

.active {
    background-color: $navbar-item-background-color;
}