$black-color: rgb(0, 0, 0);
$white-color: white;

// --------------------LAYOUT--------------------

$layout-margin: 8px;
$header-height: 64px;

$navbar-height: calc(100vh - ($layout-margin * 2) - $header-height - $layout-margin);
$navbar-width: 300px;
$navbar-item-background-color: rgba($white-color, 0.09);

$main-content-height: $navbar-height;
